.footer-div {
  width: 100%;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.order-container {
  border: none;
  background-color: rgb(185, 229, 250);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.product-title {
  font-weight: bold;
}

.price-title {
  font-weight: bold;
}

.total-title {
  font-weight: bold;
}

.amount-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -0.2em;
}

.item-amount {
  font-size: large;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.minus-btn {
  margin-right: 0.1em;
  width: 40px;
  height: 35px;
  line-height: 23px;
  background-color: red;
  font-weight: bolder;
  font-size: large;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.minus-btn:hover {
  background-color: rgb(252, 80, 80);
}

.minus-btn:active:hover {
  background-color: rgb(167, 2, 2);
}

.plus-btn {
  margin-left: 0.1em;
  width: 40px;
  height: 35px;
  line-height: 24px;
  background-color: rgb(68, 250, 68);
  font-weight: bolder;
  font-size: large;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.plus-btn:hover {
  background-color: rgb(114, 252, 1);
}

.plus-btn:active:hover {
  background-color: rgb(58, 194, 4);
}

.order-total-sum {
  font-weight: bolder;
}
