.carousel-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 2.2em;
  padding-right: 2em;
}

.carousel-wrapper {
  display: flex;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

.meal-card {
  flex-shrink: 1;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 32%;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

.meal-card-image {
  max-height: 65%;
  /* display: block;
  width: 100%;
  height: auto; */
}

.meal-card-title {
  cursor: default;
}

.meal-card-dropdown-toggle {
  background-color: transparent;
  color: black;
  border: none;
}

.meal-card-dropdown-toggle:hover {
  background-color: transparent;
  color: blue;
  border: none;
}

.meal-card-dropdown-toggle:hover:not(:active) {
  background-color: transparent;
  color: blue;
  border: none;
}

.meal-card-dropdown-toggle:active:hover {
  background-color: transparent;
  color: blue;
  border: none;
}

.meal-card-dropdown-toggle:focus-within {
  background-color: transparent;
  color: blue;
  border: none;
}

.meal-card-dropdown-toggle:not(:focus) {
  background-color: transparent;
  color: black;
  border: none;
}

.meal-card-dropdown-toggle:not(:focus-within) {
  background-color: transparent;
  border: none;
}

.meal-card-dropdown-menu {
  background-color: rgb(255, 241, 207);
}
