.navbar {
  width: 100%;
  padding-top: 0 !important;
}

.nav-row {
  width: 100% !important;
  max-width: 100%;
}

.main-title:hover {
  cursor: default;
}

.dropdown-toggler:hover {
  cursor: pointer;
}

.nav-dropdown-menu {
  left: auto;
  right: 0;
}

.light-dropdown-item:hover {
  background-color: #d3edfc !important;
}

.dark-dropdown-item:hover {
  background-color: #012a58 !important;
}
